*{
    margin-top: 0;
    box-sizing: border-box; /* es como mide el tamaño de una caja. Le decis que hasta el borde inclusive lo cuente dentro del ancho de la caja. El padding y el borde quedan incluidos dentro de la caja */
}
body{
    background-color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}
#contenedor{
    width: 960px;
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-top: 6px;
}
header{
    background-color: red;
    width: 100%;
    margin: 6px;
    border-radius: 10px;
}
header h1{
    color: white;
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
}
header h2{
    color: burlywood;
    margin-left: 25px;
}
nav{
    background-color: #369;
    border-radius: 10px;
    width: 100%;
    margin: 6px;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    display: block; /* hace que funciones como una caja (xq el tag a es una etiqueta en linea) */
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: #222;
    color: white;
    border-radius: 10px;
    margin-right: 3px;
}
nav ul li a:hover{ /* le decis que queres que cambie cuando pasas por arriba*/
    background-color: red;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
article{
    background-color: white;
    border-radius: 10px;
    margin:6px;
}
article h3{
    margin-top: 5px;
    margin-left: 20px;
    color: red;
    border-left: 6px solid red;  /* esa franja roja vertical */
    padding-left: 7px;
}
article p{
    margin: 10px;
}
aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(14, 67, 121);
    border-radius: 10px;
}
aside img{
    width: 100%;
    padding: 10px;
}
aside h3{
    color: white;
    margin-top: 5px;
    margin-left: 10px;
}
aside p{
    color: white;
    margin-bottom: 30%;
    margin-left: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 105, 29);
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}
footer h5{
    margin: 4px;
    color: rgb(252, 186, 99);
}
footer a{
    color: white;
}
